* {
  margin: 0;
  padding: 0;
}
header {
  margin: 0 auto;
  width: 80%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#month {
  font-size: 3rem;
  font-weight: bold;
}
#date {
  font-size: 2rem;
}

table {
  width: 80%;
  height: 80vh;
  margin: 50px auto;
  border: 1px solid black;
}

table th,
td {
  width: 13%;
}
table th {
  height: 50px;
  border: 1px solid black;
}
table td {
  position: relative;
  border: 1px solid black;
}

.day {
  position: absolute;
  left: 10%;
  top: 10%;
  font-size: 1.5rem;
}

.prevMonth,
.nextMonth {
  color: rgba(0, 0, 0, 0.3) !important;
}

#prev {
  position: absolute;
  left: 3%;
  top: 50%;
  width: 50px;
  height: 50px;
  background: red;
}
#next {
  position: absolute;
  right: 3%;
  top: 50%;
  width: 50px;
  height: 50px;
  background: blue;
}
