extends layout

block content
    #prev
    #next
    table#calendar
        thead
            tr
                th(style="color:red") Sun
                th Mon
                th Tue
                th Wed
                th Thu
                th Fri
                th(style="color:blue") Sat
        tbody
    script(src="calendar.js")